**/.idea
.DS_Store

*.swp
profile

DerivedData/
build/
coverage/
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m

.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

/Flutter/app.flx
/Flutter/app.zip
/Flutter/flutter_assets/
/Flutter/App.framework
/Flutter/Flutter.framework
/Flutter/Generated.xcconfig
/ServiceDefinitions.json

Pods/
.symlinks/

# screenshots taken via integration tests
ozzie/

.packages
.dart_tool
.flutter-plugins
*.log
*.db

# fastlane specific
android/fastlane/report.xml
ios/fastlane/report.xml

# deliver temporary files
android/fastlane/Preview.html
ios/fastlane/Preview.html

# snapshot generated screenshots
android/fastlane/screenshots
ioi/fastlane/screenshots

# scan temporary files
fastlane/test_output
fastlane/test_output
